<div class="caption_news">

    <img src="@@caption_newsPicturePath" class="caption_news__img">

    <div class="caption_news__description">

        <h3 class="caption_news__caption">
            <p>
                @@caption
            </p>
        </h3>
        <p class="caption_news__text">
            @@text
        </p>
        <p class="amount_of_pages">
            <a href="#">
                <img alt="arrow left" src="img/left arrow.png">
            </a>
            <span>7/20</span>
            <img alt="amount_of_pages" src="img/clock.jpg">
            <a href="#">
                <img alt="arrow right" src="img/right arrow.png">
            </a>

        </p>

    </div>

</div>