.caption_news_container {
    width: 646px;
    height: 266px;
    margin-top: 18px;
    margin-bottom: -17px;
}

.caption_news_description {
    float: right;
    width: 250px;
    height: 210px; /*change it later*/
}

.news__img {
    float: left;
    max-width: 377px;
    max-height: 249px;
}

.caption__text {
 color: red;
 font-size: 35px;
 margin-top: -15px;
clear: bottom;
}

.text {
    font-size: 18px;
    margin-top: -17px;

    /*&::after {
        content: "\2039";
        display: inline-block;
        width: 5px;
    }*/
}

.caption-news__line {
    position: absolute;
    border-bottom: 5px solid red;
    width: 646px;
    //margin: 10px 0;
}
  
.amount_of_pages::before {
    content: "\2039";
    display: inline-block;
    width: 10px;
}