.caption_news {
    width: 100%;
    margin-top: 18px;
    display: flex;

&__img {
    flex-basis: 60%;
    img {
        //max-width: 100%;
        //max-height: 100%;
        width: 377px;
        height: 250px;
    }
}

&__description {
   width: 250px; /*почему не получается изменить на %?*/
   padding-left: 20px;
}

&__caption {
 color: rgb(192, 34, 34);
 font-size: 37px;
 font-weight: lighter;
}


&__text {
    font-size: 16px;
    margin-top: -17px;
    font-family: sans-serif;
    line-height: 19px;
}
}

.amount_of_pages {
    font-weight: bold;
    text-align: right;
    font-size: 20px;
    padding-right: 15px;
}

.amount_of_pages img {
    width: 10px;
}

.amount_of_page {
    width: 10px;
}