.caption_news {
    width: 100%;
    margin-top: 18px;
    display: flex;
}

.caption_news__img {
    flex-basis: 60%;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.caption_news__description {
   width: 250px; /*почему не получается изменить на %?*/
   padding-left: 20px;
   
}

.caption_news__caption {
 color: rgb(192, 34, 34);
 font-size: 37px;
 font-weight: lighter;
}

.caption_news__text {
    font-size: 16px;
    margin-top: -17px;
    font-family: sans-serif;
    line-height: 19px;
}

.amount_of_pages {
    font-weight: bold;
    text-align: right;
    font-size: 20px;
    padding-right: 15px;
}

.amount_of_pages::before {
    content: "\003C";
    display: inline-block;
    width: 10px;
    color: rgb(192, 34, 34);
}

.amount_of_pages::after {
    content: "\003E";
    display: inline-block;
    width: 10px;
    color: rgb(192, 34, 34);
    font-weight: bold;
}