.caption_news {
    width: 100%;
    margin-top: 18px;
    display: flex;
}

.caption_news__img {
    flex-basis: 60%;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.caption_news__description {
   width: 250px; /*почему не получается изменить на %?*/
   padding-left: 20px;
}

.caption_news__caption {
 color: rgb(192, 34, 34);
 font-size: 37px;
 font-weight: lighter;
}

.caption_news__text {
    font-size: 18px;
    margin-top: -17px;

    /*&::after {
        content: "\2039";
        display: inline-block;
        width: 5px;
    }*/
}

.caption-news__line::after {
    content: "";
    position: absolute;
    border-bottom: 5px solid red;
    width: 657px;
    //margin: 10px 0;
}
  
.amount_of_pages::before {
    content: "\2039";
    display: inline-block;
    width: 10px;
}