.biography {
    display: flex;
    padding: 15px;

    &__caption {
        font-weight: bold;
        color: rgb(133, 31, 31);
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 25px;
        font-style: italic;
        margin: 0px;
    }

    &__text {
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 20px;
    }

    &__img {
        flex-basis: 40%;
        text-align: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__description {
        flex-basis: 60%;
        font-family: sans-serif;
        font-size: 13px;
        padding-left: 10px;
    }
}

.biography .Read-more {
    display: block;
    text-align: right;
    font-style: italic;
    color: rgb(133, 31, 31);
    text-decoration: none;
    padding-top: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

