.article p {
  color: rgb(65, 36, 196);
  font-size: 14px;
  font-style: italic;
  text-align: justify;
  padding: 5px;
  }

  .article .Read-more {
    color: #fb9c06;
    text-decoration: none;
    font-style: italic;
    text-transform: lowercase;
    display: block;
    text-align: right;
  }