.social {
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
        transition: color all 0.3s ease 0s;
        margin: 0px 17px;
        font-size: 30px;
        color: inherit;
        &:hover {
        color: #ff6464;
        }
    }
}

.footer {
    text-align: center;
    padding: 50px 0;

    &__social {
        margin: 0px 0px 25px 0px;
    }
}
