.down:hover {
  cursor: pointer;

&__img {
  text-align: center;
}

&__caption {
  color: rgb(168, 5, 5);
  font-family: sans-serif;
  font-weight: lighter;
  margin: 10px 0px;
  margin-left: 19px;
  text-align: left;
}

&__text {
  color: rgba(8, 128, 207, 0.87);
  font-family: sans-serif;
  margin: 10px 15px 0px 18px;
  text-align: left;
  font-size: 14px;
}
}



