.down {
  cursor: pointer;
}

.down__caption {
  color: rgb(168, 5, 5);
  font-family: sans-serif;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 10px;
}

.down__text {
  color: rgba(8, 128, 207, 0.87);
  font-family: sans-serif;
  margin-top: 10px;
}