.last-news_container {
    width: 646px;
    position: block; /*?*/
}

.last-news-articles span {
    color: rgb(10, 118, 219);
    z-index: 1;
    font-family: sans-serif;
    margin-top: 5px;
    display: inline-block;
    position: relative;
    background-color: white;
    padding-right: 5px;
}

.last-news_red-line:after {
        content: "";
        display: inline-block;
        width: 400px; /*change it later*/
        position: relative;
        border-bottom: 3px solid red;
        top: -16px;
        z-index: 0;
    }

    .last-news_unorderedlist a:hover {
        content: "";
        color: rgb(53, 119, 206);
        text-decoration: underline;
    }

.last-news_unorderedlist {
    line-height: 28px;
    font-size: 13px;
    width: 400px;
}

 .last-news_unorderedlist span:after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 15px;
    position: absolute;
    background-image: url("./img/gray camera.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    //z-index: 7;
}

.last-news-newsfeed span {
    display: inline-block;
    position: relative;
    background-color: white;
    z-index: 1;
    padding-right: 4px;
    color: rgb(53, 119, 206);
    font-family: sans-serif;
}

.last-news-newsfeed_line::after {
    content: "";
    display: inline-block;
    width: 400px; /*?*/
    position: relative;
    border-bottom: 3px solid red;
    top: -16px;
    z-index: 0;
}

.last-news-newsfeed {
    width: 400px;
}

.Zlatan_article {
    display: inline-block;
    width: 400px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.Zlatan_article img {
float: left;
background-image: url("./img/Zlatan.jpg");
width: 100px;
height: 54px;
margin-right: 5px;
}

.with_gray_camera::after {
    content: "";
    width: 10px;
}

.newsfeed_list a {
    line-height: 28px;
    font-size: 13px;
    width: 400px;
}


.newsfeed_list a:hover {
content: "";
    color: rgb(53, 119, 206);
    text-decoration: underline;
    font-size: 13px;
   
}





