.video:hover {
    position: absolute;
}

.video__text {
    font-weight: bold;
    //margin-top: -10px;
    margin-left: 22px;
    text-align: left;
}

.video__img {
    margin-left: 7px;
    position: absolute;
}








