.video:hover {
    cursor: pointer;
    &:hover {
    color: red;
    }
}

.video__text {
    font-weight: bold;
    margin-top: -10px;
    margin-left: 22px;
    text-align: left;
}

.video__img {
    margin-bottom: -7px;
    margin-left: 7px;
}








