.main_news_container {
    width: 646px;
    font-family: sans-serif;
    position: relative;
    margin-top: 19px;
    box-sizing: border-box;
    display: inline-block;
}

.main_news_container span {
 font-family: sans-serif;
 margin-top: 5px;
 display: inline-block;
 position: relative;
 background-color: rgb(255, 255, 255);
 z-index: 1;

 &:after {
     content: "";
     display: inline-block;
     width: 6px;
 }
}

.main_news__line:after {
    content: "";
    display: inline-block;
    width: 646px;
    position: relative;
    border-bottom: 5px solid rgb(41, 41, 41);
    top: -16px;
    z-index: 0;
}

.four_columns {
    width: 646px;
    display: flex;
    cursor: pointer;
  }

.four_columns_in_line_img {
    width: 150px;
    height: 95px;  
    background-size: cover;
    display: flex;
}

.four_columns_in_line {
    display: inline-block;
    padding-right: 0;
}

.four_columns_description {
    font-size: 16px;
}

.with_gray_camera p:after {
    content: "";
    width: 20px;
    height: 15px;
    position: absolute;
    display: inline-block;
    margin-top: 2px;
    margin-left: 5px;
    background-image: url("./img/gray camera.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    z-index: 6;
    } 
    










    

    