.container {
    width: 900px;
    //margin-right: 300px;
    
}

/*.news__text,.text{
    display: inline-block;
    position: relative;
    bottom: 0;
}*/

.news__img {
    float: left;
    //flex-basis: 40%;
    max-width: 100%;
    max-height: 100%;
}

.description {
    float: right;
    
}