.main_news {
    width: 900px;
    font-family: sans-serif;
    position: relative;
    margin-top: 19px;
}

.main_news span {
 font-family: sans-serif;
 margin-top: 5px;
 display: inline-block;
 position: relative;
 background-color: rgb(255, 255, 255);
 z-index: 1;

 &:after {
     content: "";
     display: inline-block;
     width: 6px;
 }
}

.main_news__line:after {
    content: "";
    display: inline-block;
    width: 900px;
    position: absolute;
    border-bottom: 5px solid rgb(41, 41, 41);
    bottom: 2px;
    z-index: 0;
}
    

    