.four_columns__img {
    //width: 150px;
    //height: 95px;
   flex-basis: 100%;
   img {
       max-width: 100%;
       max-height: 100%;
   }

&__description {
    font-size: 16px;
}
}











    

    