.property {
    padding: 15px 25px 0px;
    cursor: pointer;
    
    &__img {
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid black;
        border: 2px dashed white;
        padding: calc(50% - 2px);
        font-size: 0;
        background-position: 30%;
        background-position-y: -1px;
        background-size: cover;
        
        img {
        max-width: 100%;
        max-height: 100%;
    }
}
}

.property__description p {
    font-weight: bold;
}