.navigation {
    background-color: rgba(31, 30, 30, 0.438);
    width: 646px;
    height: 30px;
}

.navigation li {
    display: inline-block;
    padding: 5px 15px;
   

&:hover {
    content: "";
    background-color: rgb(36, 36, 36);
    cursor: pointer;
}
}

.navigation li:hover a {
    color: white;
}

a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}
