<div class="team-card">
    <div class="team-card__header">
        Hoof
        <span class="team-card__position">
            -Lead Designer
         </span>
     </div>
     <div class="team-card__img">
         <img src="/img/rabbit-dental-tips.jpg" class="team-card__img"/>

        </div>

        <div class="description">
            <p>
              Hoof is our most talanted designer. However he's not the talkative type and would advise not getting on the wrong side of him.
            </p>
             </div>

 </div>