.team-card {
    &__header {
        color: #6e6d6b;
        font-size: 14px;
        margin-bottom: 20px;
        text-align: center;
        font-family: sans-serif;
    }
    
    &__position {
        color: #fcb544;
        display: inline-block;
    }

    &__img {
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid #fcb544;
        padding: calc(50% - 2px);
        font-size: 0;
        background-position: 30%;
        background-position-y: -1px;
        background-size: cover;
        
        img {
        max-width: 100%;
        max-height: 100%;
        
    }
}
}