.video-columns {
    width: 100%;
    box-sizing: border-box;
}

.video-img {
    width: 50%;
    float: left;
    height: 70px;
}

.video-description {
    width: 50%;
    float: right;
    font-weight: bold;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
    text-align: left;
    vertical-align: middle;
    margin-top: 35px;
   //box-sizing: border-box;
}

.video-img {
background-size: cover;
height: 100px;
}