.video-columns {
    width: 100%;
    box-sizing: border-box;
}

.video-img {
    width: 50%;
    float: left;
    height: 100px;
    background-size: cover;
}

.video-description {
    width: 50%;
    float: right;
    font-weight: bold;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
    text-align: left;
    vertical-align: middle;
}

.video-description p{
    margin: 0 auto;
    margin: 35px 2px;
}

