.video-columns {
    width: 100%;
    box-sizing: border-box;

}

.video-img {
    width: 50%;
    float: left;
    height: 100px;
    background-size: cover;
  
}

.video-description {
    width: 50%;
    float: right;
    font-weight: bold;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 15px;
    text-align: left;
    vertical-align: middle;
}

.video-description p{
    margin: 0 auto;
    margin: 35px 2px;
}

.random-videos {
    display: flex;
    flex-direction: column;
  }
  
  .random-videos__item {
  display: inline-block;
  background-image: contain;
  }

  .with-camera {
      position: relative;
  }

.with-camera:before {
content: "";
width: 20px;
height: 15px;
position: absolute;
display: block;
left: 8px;
bottom: 8px;
background-image: url("./img/camera-purple.jpg");
background-repeat: no-repeat;
background-size: contain;
background-position: 50%;
background-color: white;
z-index: 6;
}

.with-camera:after {
    content: "";
    width: 25px;
    height: 20px;
    position: absolute;
    display: block;
    left: 5px;
    bottom: 5px;
    background-color: white;
    border-radius: 5px;
    z-index: 5;
    }

    