.news {
    display: flex;
    padding: 10px;
    //border: 2px solid red;

    &:hover {
        cursor: pointer;
        color: purple;
    }

    &__img {
        flex-basis: 40%;
        img {
            max-width: 100%;
            max-height: 100%;
        }

        &--big-image {
            flex-basis: 50%;
        }
    }

    &__text {
        flex-basis: 60%;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: bold;
        padding-left: 10px;
        margin-top: 1px;

        &--big-image {
            flex-basis: 50%;
            //font-weight: bold;
        }
    }
}

     
