$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 856;
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98;

.hello {
    //padding: 38px 0px 70px 0px;
    @media (max-width: $md3) {
    padding: 0px 0px 70px 0px;
    }
    @media (max-width: $md3) {
        padding: 0px 0px 60px 0px;
    }

    &__container {
        display: flex;
        @media (max-width: $md3) {
            text-align: center;
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    &__content {
        align-items: flex-start;
        flex: 1 1 auto;
        padding: 18px 110px 0px 0px;
        margin-bottom: 70px;
        *:last-child {
            margin-bottom: 0;
        }
        @media (max-width: $maxWidthContainer) {
            padding: 18px 50px 0px 0px;
        }
        @media (max-width: $md3) {
            padding: 40px 0px 0px 0px;
            margin-bottom: 0px;
        }
    }

    &__title {
        margin: 0px 0px 25px 0px;

        @media (max-width: $md3) {
            margin: 0px 0px 20px 0px;
        }
    }

    &__text {
        margin: 0px 0px 35px 0px;
        @media (max-width: $md3) {
        margin: 0px 0px 25px 0px;
        padding: 0px 15px;
        }
    }

    &__btn {
        margin: 0px 0px 25px 0px;
        @media (max-width: $md3) {
        margin: 0px 0px 20px 0px;
        }
    }

    &__avatar {
        flex: 0 0 243px;
        height: 243px;
        border-radius: 50%;
        overflow: hidden;
        //position: relative;
        box-shadow: -5px 13px 0px 0px #EDF7FA;

        img {
        width: 100%;
        height: 243px;
        }
        @media (max-width: $md3) {
            width: 170px;
            height: 170px;
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
        }
    }

.btn {
background: #FF6464;
border-radius: 2px;
font-size: 20px;
font-weight: 500;
color:white;
line-height: 29 / 20 * 100;
height: 47px;
display: inline-flex;
align-items: center;
justify-content: center;
text-align: center;
padding: 0 20px;
transition: background-color all 0.3s ease 0s;
text-decoration: none;

&:hover {
    background-color: #bb4949;
}
}
}

.recent-posts {
background: #EDF7FA;
padding: 25px 0px 32px 0px;

@media (max-width: $md3) {
    padding: 25px 0px 17px 0px;
}

&__header {
    display: flex;
    margin: 0px 0px 20px 0px;
}

&__title {
    flex: 1 1 auto;
    //font-size: 22px;
    padding: 0px 20px 0px 0px;
}

&__view-all {
flex: 0 0 auto; //так ввели запрет на уменьшение объекта
font-size: 16px;
line-height: 23px;
color: #00A8CC;
font-family: "Heebo", sans-serif;
@media (max-width: $md3) {
    display: none;
}
}

&__items {
    margin: 0px -10px;

    @media (min-width: $md3) {
        display: flex;
    }
}

&__column {
    flex: 0 1 50%;
    padding: 0px 10px;
    margin: 0px 0px 17px 0px;
}
}

.recent-post {
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 20px 20px 0px 20px;

    *:last-child {
        margin-bottom: 0;
    }

    &__title {
        display: inline-block;
        margin: 0px 0px 17px 0px;
        color: inherit;
        font-size: 26px;
        font-weight: 700;
        font-family: "Heebo", sans-serif;
        line-height: 38 / 26 * 100%;
        transition: color 0.3s ease 0s;
        text-decoration: none;

        @media (min-width: $md2) {
            &:hover {
                color: #FF6464;
            }
        }
    }
    &__info {
        font-size: 18px;
        font-weight: 400;
        font-family: "Heebo", sans-serif;
        line-height: 26 / 18 * 100%;
        margin: 0px 0px 11px 0px;

        span {
            margin: 0px 10px;
        }
        @media (max-width: $md3) {
            font-size: 16px;
        }
    } 
}

.text {
    font-size: 16px;
    font-weight: 400;
    font-family: "Heebo", sans-serif;
    line-height: 23 / 16 * 100%;

    @media (max-width: $md3) {
        padding-bottom: 22px;
        font-size: 16px;
        }
    }
