.icon-fb:before {   //doesn't work
    content: "\e900";
  }
  .icon-Group:before {
    content: "\e901";
  }
  .icon-insta:before {
    content: "\e902";
  }
  .icon-Linkedin:before {
    content: "\e903";
  }