@import "./partials/articles/article.scss";
@import "./partials/team-card/team-card.scss";

body {
  margin: 0;
}

body * {
  outline: 1px solid lightgrey;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

footer {
  background-color: #fb9c06;
}

.four-columns{
  display: flex;
  flex-wrap: wrap;
}

.four-columns__item {
  width: 25%;
}

.two-columns{
  display: flex;
}

.two-columns__item {
  width: 50%;
}

.three-columns {
  display: flex;
  flex-wrap: wrap;
}

.three-columns__item {
  width: 33.3%;
  padding: 0 50px;
  box-sizing: border-box;
}

.header {
text-decoration: underline;
color: #fb9c06;
text-align: center;
padding: 40px 0 15px 0;
font-size: 40px;
}

.header.dots:after {
  content: "...";
  display: inline-block;
  text-decoration: underline;
}

footer {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: normal;
}

.background-image {
  background-image: url('/img/oranges.jpg');
  background-size: cover;
  height: 150px;
}

.rabbits p,.oranges p {
  font-size: 20px;
  font-weight: bold;
  color: #fb9c06;
  margin-left: 10px;
  margin-right: 75%;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(71, 71, 71);
  opacity: 80%;
}

.oranges p {
  color: gray;
  margin-left: 5px;
  background-color: #fb9c06;
}


.three-columns__item span {
  padding: 10px;
}

.description p {
margin: 10px;
padding: 5px;
}