@import "./partials/random-videos/random-videos.scss";
@import "./partials/caption_news/caption_news.scss";
//@import "./partials/navigation/navigation.scss";
@import "./partials/main_news/main_news.scss";
@import "./partials/last-news_container/last-news_container.scss";
@import "./partials/random-videos/interesting_articles.scss";
@import "./partials/footer/footer.scss";

body * {
 outline: 1px solid lightgrey;
}

.common_wrapper {
  width: 1000px;
  margin: 0 auto;
  //border: 2px solid cornflowerblue;
  box-sizing: border-box;
}

.left_container {
//border: 1px solid cyan;
flex: 1 0 auto;
max-width: 646px;
}

.two_common_columns {
  display: flex;
}

.sidebar_container {
  width: 331px;
  display: flex;
  position: relative;
  float: right;
  margin-left: 25px;
  //border: 2px solid goldenrod;
}

/*начало стилей меню*/

.navigation {
  background-color: rgba(110, 110, 110, 0.438);
  width: 100%;
}

.navigation li {
  display: inline-block;
  padding: 5px 15px;

&:hover {
  content: "";
  background-color: rgb(36, 36, 36);
  cursor: pointer;
}
}

.navigation ul {
  padding: 0;
}

.navigation li:hover a {
  color: white;
}

a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}

/*конец стилей меню*/

/*caption news*/
.caption-news__line::after {
  content: "";
  position: absolute;
  border-bottom: 5px solid red;
  width: 648px;
  //margin: 10px 0;
}

/*начало main news*/
.main_news_container {
  width: 100%;
  font-family: sans-serif;
  margin-top: 19px;
  flex: 1 0 auto;
}

.main_news_container span {
font-family: sans-serif;
margin-top: 5px;
display: inline-block;
position: relative;
background-color: rgb(255, 255, 255);
z-index: 1;

&:after {
   content: "";
   display: inline-block;
   width: 6px;
}
}

.main_news__line:after {
  content: "";
  display: inline-block;
  width: 100%;
  position: relative;
  border-bottom: 5px solid rgb(41, 41, 41);
  top: -16px;
  z-index: 0;
}

.main_news {
  width: 646px;  /*при 100% всё ломается*/
  display: flex;
  cursor: pointer;
}

.main_news__item {
width: 25%;
padding-left: 13px;
}

.gray_cam_main-news p:after {
  content: "";
  width: 20px;
  height: 15px;
  position: absolute;
  margin-top: 2px;
  margin-left: 5px;
  background-image: url("./img/gray camera.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  } 
  /*конец main news*/

  /*начало last news*/
  .last-news_container {
    width: 100%;
    //border: 2px solid blue;
    display: flex;
}

.last-news-videos__item {
  //position: absolute; /*??*/
  display: flex;
  flex-direction: column; /*нужно здесь?*/
}

.with_red_camera {
  position: relative;
}

.last-news-articles {
    //border: 3px solid tomato;
    width: 400px;
}

.last-news-articles span {
    color: rgb(10, 118, 219);
    z-index: 1;
    font-family: sans-serif;
    margin-top: 5px;
    display: inline-block;
    position: relative;
    background-color: white;
    padding-right: 5px;
}

.last-news_red-line:after {
        content: "";
        display: inline-block;
        width: 400px; /*change it later*/
        position: relative;
        border-bottom: 3px solid red;
        top: -16px;
        z-index: 0;
    }

    .last-news_unorderedlist a:hover {
        content: "";
        color: rgb(53, 119, 206);
        text-decoration: underline;
    }

.last-news_unorderedlist {
    line-height: 28px;
    font-size: 13px;
    width: 400px;
}

 .last-news_unorderedlist span::after{
    content: "";
    width: 20px;
    height: 15px;
    position: absolute;
    background-image: url("./img/gray camera.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5px;
    top: 6px;
}

.icon-play_last-news { /*иконка не видна*/
  position: relative;
}

.icon-play_last-news a::after{
  content: "";
    width: 20px;
    height: 15px;
    position: absolute;
    background-image: url("./img/icon play.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 30px;
    top: 6px;
}

.last-news-newsfeed_container span {
    display: inline-block;
    position: relative;
    background-color: white;
    z-index: 1;
    padding-right: 4px;
    color: rgb(53, 119, 206);
    font-family: sans-serif;
}

.last-news-newsfeed_line::after {
    content: "";
    display: inline-block;
    width: 400px; /*?*/
    position: relative;
    border-bottom: 3px solid red;
    top: -16px;
}

.last-news-newsfeed_container {
    width: 400px;
}

//.icon-play_newsfeed {
 // position: relative;
//}

.icon-play_newsfeed a:after {
    content: "";
    width: 20px;
    height: 15px;
    position: absolute;
    background-image: url("./img/icon play.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    left: 265px;
    top: 5px;
}

.Zlatan_article {
    display: flex;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.Zlatan_article img {
background-image: url("./img/Zlatan.jpg");
width: 100px;
height: 54px;
margin-right: 5px;
}

.Zlatan_article p {
    padding-left: 4px;
}

.gray_cam_Zlatan p::after{
    content: "";
    width: 20px;
    height: 15px;
    position: relative;
    display: inline-block;
    left: 7px;
    background-image: url("./img/gray camera.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    }

.newsfeed_list a {
    line-height: 28px;
    font-size: 13px;
    width: 400px;
}

.newsfeed_list a:hover {
content: "";
    color: rgb(53, 119, 206);
    text-decoration: underline;
    font-size: 13px;
}

.last-news-videos__column {
  position: relative;
  //border: 2px solid rebeccapurple;
  width: 243px; /* почему не работает с 100%?*/
  display: flex;
  flex-direction: column;
}

.with_red_camera::after{
content: "";
width: 20px;
height: 15px;
position: relative;
display: inline-block;
left: -190px;
bottom: 27px;
background-image: url("./img/camera-red.jpg");
background-repeat: no-repeat;
background-size: contain;
z-index: 8;
}

.with_red_camera::before{
    content: "";
    width: 23px;
    height: 19px;
    position: relative;
    display: block;
    left: 25px;
    top: 135px;
    background-color: white;
    border-radius: 5px;
    z-index: 5;
    }

    .last-news-videos__item {
      text-align: right;
    }
/*конец last news*/

/*начало sidebar и random videos*/
.sidebar {
  width: 300px;
  margin-left: 900px;
}

.with_purple_camera {
  position: relative;
}

.with_purple_camera:before {
content: "";
width: 20px;
height: 15px;
position: absolute;
display: block;
left: 7px;
bottom: 15px;
background-image: url("./img/camera-purple.jpg");
background-repeat: no-repeat;
background-size: contain;
background-position: 50%;
z-index: 6;
}

.with_purple_camera:after {
content: "";
width: 23px;
height: 19px;
position: absolute;
display: block;
left: 6px;
bottom: 13px;
background-color: white;
border-radius: 5px;
z-index: 5;
}

.more_videos a {
    color: rgb(10, 118, 219);;
  
  &:after {
   content: "\2192";
   display: inline-block;
   width: 10px;
  }
}
  
  .black_line {
    position: relative;
    border-bottom: 5px solid black;
    bottom: 5px;
    width: 100%;
    margin: 10px 0;
  }

.section-header--purple span{
color: purple;
}

.section-header--center span:before {
  content: "";
  display: inline-block;
  width: 8px;
}

.section-header {
  position: relative;
  text-align: center;
}

.line {
  position: absolute;
  border-bottom: 3px solid black;
  bottom: 5px;
  width: 100%;
}

.section-header span{
  background-color: white;
  position: relative;
  z-index: 1;
  //text-align: center;
 
  &:after {
 content: "";
 display: inline-block;
 width: 8px;
}
}
/*конец random videos*/

/*начало interesting articles*/
.interesting_articles span {
  display: inline-block;
  position: relative;
  background-color: white;
  z-index: 1;
  padding-right: 5px;
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 25px;
}

.gray-cam-Jolly {
  position: relative;
}

.gray-cam-Jolly::after {
  content: "";
  width: 20px;
  height: 15px;
  position: absolute;
  background-image: url("./img/gray camera.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  left: 135px; /*так правильно?*/
  top: 40px;
}


.interesting_articles__lighter_line::after {
  content: "";
  display: inline-block;
  width: 100%;
  position: relative;
  border-bottom: 3px solid rgb(10, 10, 10);
  top: -10px;
  z-index: 0;
}

.interesting_articles__bolder_line::after {
  content: "";
      display: inline-block;
      width: 100%;
      position: relative;
      border-bottom: 5px solid rgb(10, 10, 10);
  }
  /*конец interesting articles и sidebar*/

  /*начало footer*/
.footer {
  width: 100%;
}

.footer span {
  display: inline-block;
  position: relative;
  background-color: white;
  z-index: 1;
  padding-right: 10px;
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

.footer_line::after {
  content: "";
    display: inline-block;
    width: 100%;
    position: relative;
    border-bottom: 3px solid black;
    top: -16px;
}

.foo_columns {
  display: flex;
}

.splid__splid {
  margin-left: 10px;
  //text-align: center;
}

.foo__line::after { /*не отображается*/
content: "";
display: inline-block;
position: relative;
border-bottom: 5px solid black;
width: 100%;
}
  /*конец footer*/ 
