@import "./partials/left column/left-column.scss";
@import "./partials/right column/right-column.scss";
@import "./sprites.scss";
@import "./partials/menu/menu.scss";
@font-face {
  font-family: 'limelight-font';
  src: url('/fonts/Limelight-Regular.ttf');
}

body * { 
  outline: 1px solid lightgrey;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  width: 100%;
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.main-caption {
  margin: auto;
  font-family: 'Permanent Marker', cursive;
  font-size: 65px;
  color: rgb(77, 24, 24);
}

.left-column {
  width: 75%;
}

.left-column--header {
  background-image: url('./img/paw-black.jpg');
  background-repeat: space;
  background-position: right;
  background-size: contain;
  
}

.left-column--header span {
  background-color: white;
  padding: 0 28px;
  color: rgb(75, 0, 0);
}

.left-column h3 {
  text-align: center;
  font-family: 'limelight-font';
  font-size: 50px;
}

.left-column--header {
  position: relative;
}

.right-column {
  width: 25%;
}

.right-column__item {
  padding: 30px 25px 0px;
  //border: 3px dashed brown;
  color: rgb(0, 73, 0);

  &:hover{
    color: green;
    cursor: pointer;
  }
}

 .map-form {
  display: flex;
  justify-content: space-between;
}

.container__map {
  width: 50%;
  padding: 15px;
  position: relative;
}

.container__map-description p {
  //top: 0px;
  //left: 50%;
  //transform: translateX(-50%);
 text-align: center;
}

.container__form {
  width: 50%;
  padding: 15px;
  position: relative;
}

.container__form-description p {
  //position: absolute;
  //top: 0px;
  //left: 50%;
  //transform: translateX(-50%);
 text-align: center;
 margin-top: 30px;
} 

.feedback {
  row-gap: 10px;
  column-gap: 10px;
  display: grid;
  grid-template-columns: minmax(100px, max-content) 1fr;


&__label {
  //padding-right: 10px;
  font-size: 25px;
}
}

.menu {
  margin-top: 15px;
}

  .menu__item {
    width: 230px;
    height: 85px;
    margin-top: 35px;
    padding: 10px 10px;
    font-size: 35px;
    position: relative;
    border-radius: 15%;
    border: 1px dashed rgba(218, 10, 10, 0.801);
    background-color: rgb(89, 146, 13);

    cursor: pointer;

    &:hover {
      background-color:rgb(126, 187, 98);
    }
}

  .menu__content {
    display: none;
    left: 100%;
    bottom: -70%;
    //top: 100%;
    //left: 50%;
    position: absolute;
  }

  .menu__item:hover .menu__content{
    display: block;
  }

  .sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .sub-menu__item {
    padding: 7px 15px;

    &:hover {
      background-color: rgb(226, 152, 15);
    }
  }

.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(189, 145, 91);
}

.footer__text span {
  font-size: 15px;
  text-align: center;
  font-weight: normal;
  padding: 30px 50px;
  display: inline-block;
}