@import "./partials/left column/left-column.scss";
@import "./partials/right column/right-column.scss";
@import "./sprites.scss";
@import "./partials/menu/menu.scss";

body * { 
  outline: 1px solid lightgrey;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  width: 100%;
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.main-caption {
  margin: auto;

  font-size: 65px;
  color: rgb(77, 24, 24);
}

.left-column {
  width: 75%;
}

.left-column h3 {
  text-align: center;
}

.left-column--header {
  position: relative;
}

.right-column {
  width: 25%;
}

.right-column__item {
  padding: 25px 25px 0px;
  //border: 3px dashed brown;
  color: rgb(0, 73, 0);

  &:hover{
    color: green;
    cursor: pointer;
  }
}

 .map-form {
  display: flex;
  justify-content: space-between;
}

.container__map {
  width: 50%;
  //padding: 15px;
  position: relative;
}


.container__map-description p {
  //position: absolute;
  //top: 0px;
  //left: 50%;
  //transform: translateX(-50%);
 text-align: center;
}

.container__form {
  max-width: 50%;
  //padding: 15px;
  position: relative;
}

.container__form-description p {
  //position: absolute;
  //top: 0px;
  //left: 50%;
  //transform: translateX(-50%);
 text-align: center;
 margin-top: 30px;
} 

.feedback {
  row-gap: 10px;
  column-gap: 10px;
  display: grid;
  grid-template-columns: minmax(100px, max-content) 1fr;


&__label {
  //padding-right: 10px;
  font-size: 25px;
}
}


