body * {
  outline: 1px solid lightgrey;
}

.header, .footer {
  background-color: lightblue;
  //height: 100px;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  padding-bottom: 0 0 100px;
}

.footer {
  height: 100px;
  position: relative;
  margin: -100px 0 0;
}
