@import "./partials/articles/article.scss";
@import "./partials/team-card/team-card.scss";

body {
  margin: 0;
}

body * {
  outline: 1px solid lightgrey;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

footer {
  background-color: #fb9c06;
}

.four-columns{
  display: flex;
  flex-wrap: wrap;
}

.four-columns__item {
  width: 25%;
}

.two-columns{
  display: flex;
}

.two-columns__item {
  width: 50%;
}

.three-columns {
  display: flex;
  flex-wrap: wrap;
}

.three-columns__item {
  width: 33.3%;
  padding: 0 50px;
  box-sizing: border-box;
}

.header {
text-decoration: underline;
color: #fb9c06;
text-align: center;
padding: 40px 0 15px 0;
font-size: 40px;
}

.header.dots:after {
  content: "...";
  display: inline-block;
  text-decoration: underline;
}