@import "./partials/articles/article.scss";
@import "./partials/team-card/team-card.scss";
@import "./sprairt.scss";

body {
margin: 0;
}

body * {
outline: 1px solid lightgrey;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
} 

.four-columns{
  display: flex;
  flex-wrap: wrap;
}

.four-columns__item {
  width: 25%;
}

.two-columns{
  display: flex;
}

.two-columns__item {
  width: 50%;
}

.three-columns {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 25px;
  
}

.three-columns__item {
  width: 33.3%;
  padding: 0 50px;
  box-sizing: border-box;
}

.header {
text-decoration: underline;
color: #fb9c06;
text-align: center;
padding: 40px 0 15px 0;
font-size: 40px;
}

.header.dots:after {
  content: "...";
  display: inline-block;
  text-decoration: underline;
}

footer {
  background-color: #fb9c06;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: normal;
}

header.container__logo{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

//header.container__logo {
 // width: 100%;
 // justify-content: space-around;
//}

.logo_menu_items {
  display: flex;
  justify-content: space-between;
}

.logo_pic {
  //background-image: url('./img/logo1.png');
  //background-repeat: no-repeat;
  //background-size: contain;
  margin: 10px;
  //width: 80px;
  //height: 80px;
}

.logo_text {
width: 120px;
padding-left: 30px;
padding-top: 10px;
}

.orange_logo, .rabbit_logo {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 10px;
}

.orange_logo {
  color: #fb9c06;
  font-size: 25px;
}

.rabbit_logo {
  color: rgb(97, 97, 97);
  font-size: 30px;
  text-transform: uppercase; 
}

 .container_background-image {
  background-image: url('/img/new_oranges.jpg');
  background-size: cover;
  height: 300px;
  width: 100%;
  border: 4px solid #fb9c06;
  box-sizing: border-box;
  position: relative;
}

//.banner_text {
  //padding-top: 60px;
 // margin: 0 130px;
 // padding-left: 10px;
 // width: 30%;
 // display: inline-block;
//  margin-top: 40px;
 // display: flex;
//flex-direction: column;
//}

span.rabbits p{
position: absolute;
width: 25%;
margin: 90px 210px 50px;
color: #fb9c06;
clear: both;
background-color: rgb(71, 71, 71);
font-size: 30px;
text-transform: uppercase;
text-align: center;
padding: 10px;
}

span.oranges p{
position: absolute;
width: 25%;
margin: 170px 200px 100px;
clear: both;
font-size: 30px;
background-color: #fb9c06;
text-transform: uppercase;
text-align: center;
color: white;
padding: 10px;
}

.three-columns__item span {
  padding: 10px;
}

.description p {
margin: 10px;
padding: 5px;
}

form {
  color: #fb9c06;
  font-size: 30px;
  width: 100%;
  padding: 50px 0;
}

div label,input {
  font-size: 25px;
  width: 80%;
  border: 2px solid lightgray;
  border-left: 4px solid lightgray;
  margin: 20px;
}

textarea {
 width: 80%;
 border: 2px solid lightgray;
 border-left: 4px solid lightgray;
 font-size: 30px;
 margin: 20px auto;
 margin-left: -4px;
 vertical-align: middle;
 }

.btn-submit {
  padding: 10px;
  font-size: 20px;
  background-color: #fb9c06;
  color: white;
  position: relative;
  width: 130px;
  top: 40px;
  left: 78%;
}

.btn-submit:hover {
cursor: pointer;
background-color: gray;
}

nav {
  display: flex;
}

 nav:hover {
 content: "";
}

nav ul {
  display: flex;
  list-style: none;
  padding: 5px;
}

li {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  color: grey;
}

a {
  text-decoration: none;
  color: gray;
}
