body * {
  outline: 1px solid lightgrey;
}

.main-nav,
.blocks,
.container {
  border: 2px solid red;
  display: inline-flexbox;
}

.sub-menu {
  border: 2px dashed green;
}

.blocks p {
  color: green;
}

.inline p {
  color: blue;
  display: inline;
}

.bottom p {
  display: inline;
}

.blocks span {
  display: block;
}

.inline {
  border: double green;
  padding: 16px;
  padding-left: 0%;
}

.main-nav li {
  display: inline;
}

