@import "./partials/articles/article.scss";
@import "./partials/team-card/team-card.scss";
@import "./sprairt.scss";

body {
  margin: 0;
}

body * {
outline: 1px solid lightgrey;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.four-columns{
  display: flex;
  flex-wrap: wrap;
}

.four-columns__item {
  width: 25%;
}

.two-columns{
  display: flex;
}

.two-columns__item {
  width: 50%;
}

.three-columns {
  display: flex;
  flex-wrap: wrap;
}

.three-columns__item {
  width: 33.3%;
  padding: 0 50px;
  box-sizing: border-box;
}

.header {
text-decoration: underline;
color: #fb9c06;
text-align: center;
padding: 40px 0 15px 0;
font-size: 40px;
}

.header.dots:after {
  content: "...";
  display: inline-block;
  text-decoration: underline;
}

footer {
  background-color: #fb9c06;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: normal;
}

.background-image {
  background-image: url('/img/oranges.jpg');
  background-size: cover;
  height: 150px;
  
}

.rabbits p,.oranges p {
  font-size: 20px;
  font-weight: bold;
  color: #fb9c06;
  margin-left: 10px;
  margin-right: 75%;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(71, 71, 71);
  opacity: 80%;
}

.oranges p {
  color: gray;
  margin-left: 5px;
  background-color: #fb9c06;
}

.three-columns__item span {
  padding: 10px;
}

.description p {
margin: 10px;
padding: 5px;

}

form {
  color: #fb9c06;
  font-size: 30px;
  width: 100%;
  padding: 50px 0;
}

input, textarea {
  margin: 20px;
  width: 80%;
  background: lightgray;
  opacity: 30%;
}

input {
  font-size: 25px;
  margin-left: 35px;
}

textarea {
  margin-left: 3px;
  font-size: 30px;
}

.btn-submit {
  padding: 10px;
  font-size: 20px;
  background-color: #fb9c06;
  color: white;
  position: relative;
  width: 130px;
  top: 40px;
  left: 85%;
}

.btn-submit:hover {
cursor: pointer;
background-color: gray;
}

  header.container__logo{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  border: 2px solid green;
  justify-content: space-between;
}

.logo_menu_items {
  display: flex;
  justify-content: space-between;
  border: 2px solid blue;
  
}

.logo_pic {
  //background-image: url('./img/logo1.png');
  //background-repeat: no-repeat;
  //background-size: contain;
  margin: 10px;
  //width: 80px;
  //height: 80px;
}

.logo_text {
width: 120px;
padding-left: 30px;
padding-top: 10px;
border: 2px solid red;
}

.orange_logo, .rabbit_logo {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

.orange_logo {
  color: #fb9c06;
  font-size: 25px;
}

.rabbit_logo {
  color: rgb(97, 97, 97);
  font-size: 30px;
  text-transform: uppercase; 
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 5px;
}

li a {
  padding: 0 10px;
  text-decoration: none;
  padding-left: 10px;
}





