@import "./partials/random-videos/random-videos.scss";
@import "./partials/main_news/main_news.scss";

body * {
  outline: 1px solid lightgrey;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.main-container {
  float: left;
  width: 900px;
  margin-right: 300px;
  position: relative;
}

.sidebar {
  position: absolute;
  float: right;
  width: 300px;
  margin-left: 900px;
}

.news-items {
  width: 100%;
  position: relative;
  //box-sizing: border-box; /*может пригодиться*/
}

.last-news-articles {
  float: left;
  width: 60%;
}

.last-news-videos {
 float: right;
 width: 40%;
}

.section-header--purple span{
color: purple;
}

.section-header--center span:before {
  content: "";
  display: inline-block;
  width: 8px;
}


.section-header {
  position: relative;
  text-align: center;
}

.line {
  position: absolute;
  border-bottom: 3px solid black;
  bottom: 5px;
  //z-index: 1;
  width: 100%;
}

.section-header span{
  background-color: white;
  position: relative;
  z-index: 1;
  //text-align: center;
 
  &:after {
 content: "";
 display: inline-block;
 width: 8px;
}
}

.more_videos {
  cursor: pointer;
  color: rgb(11, 167, 219);
}

.more_videos:after {
 content: "\2192";
 display: inline-block;
 width: 10px;
}

.black_line {
  position: absolute;
  border-bottom: 5px solid black;
  bottom: 5px;
  width: 100%;
  margin: 10px 0;
}

.main-news {
  width: 50%;
  border: 2px solid red;
}
