body * {
  outline: 1px solid lightgrey;
}

.common_container {
  max-width: 481px;
  max-height: 698px;
  padding-top: 26px;
}

  header {
  width: 33%;
  height: 49px;
  background-color: #358765;
  margin: auto;
  margin-bottom: 34px;
}

.two-blocks {
  display: flex;
  justify-content: space-around;
}

.two-blocks__item_left {
  background-color: #588924;
  width: 50%;
  height: 116px;
  margin-left: 53px;
  margin-right: 34px;
}

.two-blocks__item_right {
  background-color: #588924;
  width: 50%;
  height: 116px;
  margin-right:54px;
  margin-left: 34px;
}

.three_blocks {
  margin: 34px 19px 0px 19px;
  font-size: 0;
}

.three_blocks__item_red,.three_blocks__item_blue,.three_blocks__item_yellow {
  height: 147px;
  font-size: 1rem;
  display: inline-block;
  width: 33.3%;
}

.three_blocks__item_red {
  background-color: red;
}

.three_blocks__item_blue {
  background-color: blue;
}

.three_blocks__item_yellow {
  background-color: yellow;
}

  footer {
  width: 92%;
  height: 55px;
  background-color: #C4C4C4;
  display: inline-block;
  margin: 34px 20px 203px 19px;
}
