body * {
  outline: 1px solid lightgrey;
}

.wrapper {
  max-width: 481px;
  max-height: 698px;
  padding-top: 26px;
}

.header {
  width: 199px;
  height: 49px;
  background-color: rgb(3, 114, 77);
  margin: auto;
  margin-bottom: 34px;
}

.two-blocks {
  display: flex;
  justify-content: space-around;
}

.block1 {
  background-color: rgb(86, 167, 140);
  width: 153px;
  height: 116px;
  margin-left: 53px;
  margin-right: 34px;
}

.block2 {
  background-color: rgb(86, 167, 140);
  width: 153px;
  height: 116px;
  margin-right:54px;
  margin-left: 34px;
}

.three_blocks {
  margin: 34px 19px 34px 19px;
}

.block_red,.block_blue,.block_yellow {
  width: 147px;
  height: 147px;
  float: left;
}

.block_red {
  background-color: red;
}

.block_blue {
  background-color: blue;
}

.block_yellow {
  background-color: yellow;
}

.footer {
  width: 442px;
  height: 55px;
  background-color: gray;
  display: inline-block;
  margin: 34px 20px 203px 19px;
}