@import "header.scss";
@import "home.scss";
@import "icons.scss";
@import "./fonts/icons.ttf";
@import "style.scss";
@import "./partials/footer/footer.scss";

@font-face {
    font-family: 'Heebo';
    src: url('/fonts/Heebo-Medium.ttf');
}

body * {
  outline: 1px solid lightgrey;
}

// переменные
$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 856;
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98;

._container {
max-width: $maxWidthContainer + px;
margin: 0 auto;
@media (max-width: $md1+px) {
    max-width: 970px;
}
@media (max-width: $md2+px) {
    max-width: 750px;
}
@media (max-width: $md3+px) {
    max-width: none;
    padding: 0 10px;
}
}

.page {
    padding: 90px 0px 0px 0px;
    flex: 1 1 auto;
    @media (max-width: $md3+px) {
        padding: 30px 0px 0px 0px; 
    }
}

.title {
    font-size: 44px;
    font-weight: 700;
    color: #21243d;
    font-family: "Heebo";
    line-height: 60px / 44px * 100%;
    
    @media (max-width: $md3+px) {
        font-size: 32px;
    }
}

.text {
    font-family: "Heebo", sans-serif;
    color: #21243d;
    line-height: 23 / 16 * 100%;
}

.title-posts {
    font-size: 22px;
    font-family: "Heebo", sans-serif;
    
    @media (max-width: $md3) {
        text-align: center;
        font-size: 18px;
    }
}

.featured-works {
    padding: 30px 0px 80px 0px;
    @media (max-width: $md3) {
        padding: 30px 0px 30px 0px;
    }
    &__title {
        margin: 0px 0px 20px 0px;
    }
    &__items {
    @media (max-width: $md3) {
    display: flex;
    overflow: auto;
            }
    }
}

.featured-works__title {
    margin: 0px 0px 20px 0px;
}


.works__item {
    display: flex;
    align-items: flex-start;
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 30px 0px;
    border-bottom: 1px solid #E0E0E0;
    &:last-child {
        margin-bottom: 0;
    }
    @media (max-width: $md3) {
    display: flex;
    align-items: flex-start;
    flex-direction: column;  //is it needed?
    }
    @media (max-width: $md3) {
        padding: 0 0 90%;
        margin: 0px 15px 0px 0px;
    }
}

.works__image {
    flex: 0 0 246px;
    display: block;
    border-radius: 6px;
    min-height: 180px;
    overflow: hidden;
    @media (max-width: $md3) {
        //padding: 0px 0px 50% 0px;
        margin: 0px 0px 17px 0px;
    }
}

.works__body {
flex: 1 1 auto;
padding: 0px 0px 0px 18px;
@media (max-width: $md3) {
    padding: 0px 0px 0px 18px;
}
}

.works__title {
    color: inherit;
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    line-height: 44 / 30 * 100%;
    margin: 0px 0px 15px 0px;
    @media (max-width: $md3) {
        font-size: 24px;
    }
}

.works__info {
    display: flex;
    align-items: center;
    margin: 0px 0px 15px 0px;
}

.works__year {
    background: #142850;
    border-radius: 16px;
    height: 25px;
    padding: 0px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    font-family: "Heebo", sans-serif;
}

.works__category {
    font-size: 20px;
    font-family: "Heebo", sans-serif;
    font-weight: 400;
    color: #8695A4;
    margin: 0px 0px 0px 25px;
}

.ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
