//@import "./partials/tours/tours.scss";

body * {
  outline: 1px solid lightgrey;
}

html {
  background-color: antiquewhite;
}

.wrapper {
  max-width: 1200px;
}

._container {
  max-width: 1000px;
  margin: 0 auto;
}

  .description-text-img {
   display: flex;
  }

.description-img {
    flex-basis: 40%;
    text-align: right;
        
        img {
          max-width: 100%;
          max-height: 100%;
        }
}

.description-text {
  flex-basis: 60%;
}

  .advertising-caption {
    text-align: center;
    color: #676767;
    font-size: 50px;
  }

  .skiing__column {
    display: flex;
    flex-wrap: wrap;
  }

  .skiing__caption {
    color: #676767;
  }

  .skiing__items {
    display: flex;
    //width: 100%;
    position: relative;

    &__first {
      margin-right: 18px;
    }

    &__second {
      margin-right: 18px;
    }
  }

  .skiing__items img {
    width: 100%;
  }

    .skiing__icon, .tours__icon {
      margin: 0px 15px 0px 0px;
    }


    .tours__column {
      display: flex;
      flex-wrap: wrap;
      margin-top: 25px;
    }
  
    .tours__caption {
      color: #676767;
    }
  
    .tours__items {
      display: flex;
      //width: 100%;
      position: relative;
  
      &__first {
        margin-right: 18px;
      }
  
      &__second {
        margin-right: 18px;
      }
    }
  
    .tours__items img {
      width: 100%;
    }


  


   

 

  
