@import "./partials/articles/article.scss";

body {
  margin: 0;
}

body * {
  outline: 1px solid lightgrey;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

footer {
  background-color: #fb9c06;
}

.for-columns{
  display: flex;
}

.for-columns__item {
  width: 25%;
}

.two-columns{
  display: flex;
}

.two-columns__item {
  width: 50%;
}