@import "./partials/left column/left-column.scss";
@import "./partials/right column/right-column.scss";
@import "./sprites.scss";
@import "./partials/menu/menu.scss";
@font-face {
  font-family: 'limelight-font';
  src: url('/fonts/Limelight-Regular.ttf');
}

/*body * { 
  outline: 1px solid lightgrey;
}*/

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-main{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: auto;
} 

main {
  width: 100%;
  display: flex;
}

.voiting form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.voiting {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(133, 31, 31);
  font-weight: bold;
}

.form__input {
  color: rgb(77, 57, 3);
  font-family: 'Source Sans Pro', sans-serif;

  &:hover {
    color: rgb(0, 73, 0);
  }
}

input {
  margin: 5px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.burger-menu {
  position: relative;

  &.burger-menu .mobile-open .burger-menu__list{
  display: flex;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;

    @media all and (max-width: 568px) {
      display: none;
    }

    &.open {
      @media all and (max-width: 568px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        max-width: 30%;
      }
    }

  @media all and (max-width: 568px) {
   width: 100%;
   position: absolute;
   top: 100%;
   z-index: 1;
   background-color: #fff;
   display: none;
    }
  }

 &__btn-mobile {
   display: none;
   border: 1px solid lightgray;
   padding: 2px;
   border-radius: 3px;
   cursor: pointer;

   @media all and (max-width: 568px) {
     display: flex;
     align-items: center;
     width: fit-content;
   }
 }

 .burger-menu__item {
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 3px;
    text-align: center;
 
    @media all and (max-width: 568px) {
      margin-right: 0;
    }
  
    &:hover {
      background-color: burlywood;
    }
  }
}

/*@media all and (max-width: 568px) {
  .burger-menu {
  display: inline-block;
  width: 30%;
  }

  .burger-menu .burger-menu__list {
    display: block;
    }
}*/

.main-caption {
  //margin: auto;
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
  color: rgb(77, 24, 24);
  display: flex;
}

.left-column {
  width: 75%;
}

.left-column--header {
  background-image: url('./img/paw-black.jpg');
  background-repeat: space;
  background-position: right;
  background-size: contain;
}

.left-column--header span {
  background-color: white;
  padding: 0 25px;
  color: rgb(75, 0, 0);
}

.left-column h3 {
  text-align: center;
  font-family: 'limelight-font', sans-serif;
  font-size: 50px;
}

.left-column--header {
  position: relative;
}

.right-column {
  width: 25%;
}

.right-column__item {
  padding: 30px 25px 0px;
  color: rgb(0, 73, 0);

  &:hover{
    color: green;
    cursor: pointer;
  }
}

.container__map-description, .container__form-description {
  font-family: "Mate SC", sans-serif;
  font-weight: bolder;
  color: rgb(22, 114, 83);
  font-size: 20px;
}

 .map-form {
  display: flex;
  justify-content: space-between;
}

.container__map {
  width: 50%;
  padding: 15px;
  position: relative;
}

.container__map-description p {
 text-align: center;
}

.container__form {
  width: 50%;
  padding: 15px;
  position: relative;
}

.container__form-description p {
 text-align: center;
} 

.feedback {
  row-gap: 10px;
  column-gap: 10px;
  display: grid;
  grid-template-columns: minmax(100px, max-content) 1fr;

&__label {
  padding: 3px;
  font-size: 25px;
  color: rgb(13, 112, 112);
}
}

.footer-button {
  font-size: 15px;
  font-weight: bold;
  top: 15px;
  //right: 20px;
  padding: 10px;
  background-color: rgba(79, 141, 143, 0.295);
  position: relative;
  width: calc(100% - 110px);
  float: right;
 
  
  &:hover {
    background-color: rgb(167, 95, 70);
    color: bisque;
  }
}

.container__form input:focus {
  outline: 3px solid rgb(32, 151, 145);
}

.advertising-menu {
  margin-top: 15px;
}

  .advertising-menu__item {
    width: 210px;
    height: 35px;
    margin-top: 80px;
    padding: 10px 10px;
    font-size: 25px;
    position: relative;
    border: 1px dashed rgba(218, 10, 10, 0.801);
    background-color: rgb(150, 211, 70);
    cursor: pointer;

    &:hover {
      background-color:rgb(126, 187, 98);
    }
}

  .advertising-menu__content {
    display: none;
    left: 100%;
    bottom: -70%;
    top: 50%;
    //left: 50%;
    position: absolute;
  }

  .advertising-menu__item:hover .advertising-menu__content{
    display: block;
  }

  .sub-advertising-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .sub-advertising-menu__item {
    padding: 7px 15px;
    border: 2px solid black;

    &:hover {
      background-color: rgb(226, 152, 15);
    }
  }

.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(189, 145, 91);
}

.footer__text span {
  font-size: 15px;
  text-align: center;
  font-weight: normal;
  padding: 30px 50px;;
  display: flex;
  font-weight: bold;
}

.footer__social-media {
  margin: 15px;
  display: flex;
}

.footer__social-media span {
  margin: 10px;
  font-weight: bold;
}

.footer__social-media a {
  padding: 5px;
}

.footer__social-media__items {
  display: flex;
}

@media (max-width:960px) {
  .container-main {
    flex-direction: column;
  }
  .left-column {
    width: 100%;
  }
  .right-column{
    width: 100%;
  }
}

@media (max-width: 1200px){
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px){
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px){
  .container {
    max-width: none;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  .container {
    max-width: 320;
  }
}

@media (max-width: 767px) {
  .menu {
    flex-direction: column;
    width: 33,33%;
  }
}

@media (max-width: 576px) {
  .feedback input {
    width: 88%;
  }

  .footer-button {
    width: 65%;
  }
}

@media (max-width: 767px) {
  .advertising-menu__content {
  left: 20%;
  top: 100%;
  }
}

@media (max-width: 576px) {
  .advertising-menu__item {
    height: 45px;
    width: 105px;
  }
  .advertising-menu__content {
    left: 0;
    }

    .footer__social-media {
      flex-direction: column;
    }
}