.bg-info, .bg-blog, .bg-contact, .bg-home,.bg-info, .bg-pen {
        margin: 5px;
        cursor: pointer;
        background-image: url('/img/css_sprites-.png');
        width: 65px; 
        height: 65px;
    }

.bg-blog {
    background-position:  -10px -10px;
}

.bg-contact {
    background-position: -90px -10px;
}

.bg-home {
    background-position: -10px -90px;
}

.bg-info {
    background-position: -90px -90px;
}

.bg-pen {
    background-position: -170px -10px;
}