.bg-blog {
    width: 60px; height: 60px;
    background: url('/img/css_sprites-.png') -10px -10px;
}

.bg-contact {
    width: 60px; height: 60px;
    background: url('/img/css_sprites-.png') -90px -10px;
}

.bg-home {
    width: 60px; height: 60px;
    background: url('/img/css_sprites-.png') -10px -90px;
}

.bg-info {
    width: 60px; height: 58px;
    background: url('/img/css_sprites-.png') -90px -90px;
}

.bg-pen {
    width: 60px; height: 57px;
    background: url('/img/css_sprites-.png') -170px -10px;
}