.bg-blog {
    width: 65px; height: 65px;
    background: url('/img/css_sprites-.png') -10px -10px;
    cursor: pointer;
}

.bg-contact {
    width: 65px; height: 65px;
    background: url('/img/css_sprites-.png') -90px -10px;
    cursor: pointer;
}

.bg-home {
    width: 65px; height: 65px;
    background: url('/img/css_sprites-.png') -10px -90px;
    cursor: pointer;
}

.bg-info {
    width: 65px; height: 65px;
    background: url('/img/css_sprites-.png') -90px -90px;
    cursor: pointer;
}

.bg-pen {
    width: 65px; height: 65px;
    background: url('/img/css_sprites-.png') -170px -10px;
    cursor: pointer;
}