.bg-work {
    width: 70px; height: 70px;
    background: url('/img/css_sprites .png') -882px -542px;
    
}

.bg-contact {
    width: 100px; height: 100px;
    background: url('/img/css_sprites.png') -1054px -10px;
}

.bg-blog {
    width: 320px; height: 320px;
    background: url('/img/css_sprites.png') -542px -542px;
}

.bg-about {
    width: 1024px; height: 512px;
    background: url('/img/css_sprites.png') -10px -10px;
}

.bg-home {
    width: 512px; height: 512px;
    background: url('/img/css_sprites.png') -10px -542px;
}