.bg-contacts_, .bg-e_shop_, .bg-faq_, .bg-home_ {
    margin: 5px;
    cursor: pointer;
    background-image: url('/img/css_sprites.png');
    width: 50px;
    height: 50px;
}

.bg-contacts_ {
    background-position: -10px -10px;
}

.bg-e_shop_ {
    background-position: -10px -80px;
}

.bg-faq_ {
    background-position: -80px -10px;
}

.bg-home_ {
    background-position: -80px -80px;
}