.sprite {
    margin: 5px;
    background-image: url('/img/css_sprites.png');
    width: 50px;
    height: 50px;
}

.contacts {
    background-position: -10px -10px;
}

.e-shop {
    background-position: -10px -80px;
}

.faq {
    background-position: -80px -10px;
}

.home {
    background-position: -80px -80px;
}